// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white:rgba(255,255,255,0.9);
$blue: #3490dc;
$indigo: #6574cd;
$purple: #BB86FC;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$bg: #17223b;
$header: #263859;
$sidebar: #6b778d;
$blocks: #ff6768;


.blue {
    color: $blue;
}

.indigo {
    color: $indigo;
}

.purple {
    color: $purple;
}

.pink {
    color: $pink;
}

.red {
    color: $red;
}

.orange {
    color: $orange;
}

.yellow {
    color: $yellow;
}

.green {
    color: $green;
}

.teal {
    color: $teal;
}

.cyan {
    color: $cyan;
}

.bg {
    color: $bg;
}

.header {
    color: $header;
}

.sidebar {
    color: $sidebar;
}

.blocks {
    color: $blocks;
}
.blocks-bg{
    background-color: $blocks !important;
}
