// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white:rgba(255,255,255,0.9);
$black:rgba(0,0,0,0.9);
$blue: #3490dc;
$indigo: #6574cd;
$purple: #BB86FC;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$bg: rgba(70,70,70,0.3);
$bgDarken: rgba(70,70,70,0.95);
$bgLight: rgba(255,255,255,0.1);
$blocks: #ff6768;

.white{
    color: $white !important;
}
.blue {
    color: $blue !important;
}

.indigo {
    color: $indigo !important;
}

.purple {
    color: $purple !important;
}

.pink {
    color: $pink !important;
}

.red {
    color: $red !important;
}

.orange {
    color: $orange !important;
}

.yellow {
    color: $yellow !important;
}

.green {
    color: $green !important;
}

.teal {
    color: $teal !important;
}

.cyan {
    color: $cyan !important;
}

.bg {
    color: $bg !important;
}

.blocks {
    color: $blocks !important;
}
.blocks-bg{
    background-color: $blocks !important;
}
.new-msg-bg{
    background: rgba(150,150,150,0.3);
}
