// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #BB86FC;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$bg: #17223b;
$header: #263859;
$sidebar: #6b778d;
$blocks: #ff6768;


.blue {
    color: #3490dc;
}

.indigo {
    color: #6574cd;
}

.purple {
    color: #BB86FC;
}

.pink {
    color: #f66d9b;
}

.red {
    color: #e3342f;
}

.orange {
    color: #f6993f;
}

.yellow {
    color: #ffed4a;
}

.green {
    color: #38c172;
}

.teal {
    color: #4dc0b5;
}

.cyan {
    color: #6cb2eb;
}

.bg {
    color: #17223b;
}

.header {
    color: #263859;
}

.sidebar {
    color: #6b778d;
}

.blocks {
    color: #ff6768;
}
